<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
    res.redirect('/')
    } %>

<%- messages() %>    

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<%- messageTable %>

<a class="manageItem" title="Click to create a new message" href="/account/new-message">Create New Message</a>
<a class="manageItem" title="Click to view archived messages" href="/account/archived-message">View <%- locals.archived %> Archived Messages</a>



