<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
    res.redirect('/')
    } %>

<%- messages() %>    

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<!-- Generated dynamically like the vehicle view? -->
<!-- <div class="form">
    <form class="messageForm" id="messageForm" action="account/message-reader" method="post">
        <div >
            <p>All fields must be filled out.</p>
           
            <label for="message_subject">Subject</label>
            <input type="text" id="" placeholder="" name=""  value="<%=locals.account_lastname %>" required>

            <label for="message_from">From</label>
            <input type="text" id="" placeholder="" name=""  value="<%=locals.account_firstname %>" required>

            <label for="message_body">Content</label>
            <textarea id="" placeholder="" name=""  rows="5" cols="33"  required><%- locals.inv_description %></textarea>

            <input type="submit" id="submitBtn" value="Return to Inbox">
            <input type="submit" id="submitBtn" value="reply">
            <input type="submit" id="submitBtn" value="mark as read">
            <input type="submit" id="submitBtn" value="archive message">
            <input type="submit" id="submitBtn" value="delete message">

        </div>
    </form>
</div> -->