<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
    res.redirect('/')
    } %>

<%- messages() %>    

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>


<div class="form">
    <form class="messageForm" id="messageForm" action="/account/new-message" method="post">
               
        <p>All fields must be filled out.</p>
        <label for="message_to">To</label> <!-- drop down showing all clients-->
        <%- accountOptions %>

        <label for="message_subject">Subject</label>
        <input type="text" id="message_subject" placeholder="" name="message_subject"  value="<%=locals.message_subject %>" required>
        
        <label for="message_body">Content</label>
        <textarea id="message_body" placeholder="" name="message_body"  rows="5" cols="33"  required><%- locals.message_body %></textarea>
        <input type="hidden" name="message_from"
            <% if(locals.accountData) { %>  value="<%= locals.accountData.account_id %>"
            <% } %>>

        <!-- <button id="loginBtn" type="submit">Register</button> -->
        <input type="submit" id="submitBtn" value="send message">
            
        
    </form>

    
    
</div>