<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
    res.redirect('/')
    } %>

<%- messages() %>    

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>


<ul class="message-reader"> 
  <li><strong>Subject:</strong> <%=message_subject %></li>
  <li><strong>From:</strong> <%=message_from1 %> <%=message_from2 %></li>
  <li><strong>Message:</strong> <%- message_body %></li>
</ul> 

<span>-------------------------------</span>
<form>
<!-- <a class="manageItem" title="Click to return to inbox" href="/account/inbox">Return to Inbox</a> -->
<button type="submit" formaction="/account/inbox">Return to Inbox</button>
<button type="submit" formaction="/message-reply">Reply</button>
<button type="submit" formaction="/action_page2.php">Mark as Read</button>
<button type="submit" formaction="/archive-message">Archive Message</button>
<button type="submit" formaction="/account/delete-message" method="post">Delete Message</button>

</form>

