<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
    res.redirect('/')
    } %>

<%- messages() %>    

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>


<ul class="message-reader"> 
  <li><strong>Subject:</strong> <%=message_subject %></li>
  <li><strong>From:</strong> <%=message_from1 %> <%=message_from2 %></li>
  <li><strong>Message:</strong> <%- message_body %></li>
</ul> 





<a class="messageInbox" title="Click to view inbox" href="/account/inbox/">Return to Inbox</a>
<a class="messageInbox" title="Click to view inbox" href="/account/message-reply/<%- locals.message_id  %>">Reply</a>
<a class="messageInbox" title="Click to view inbox" href="/account/mark-read/<%- locals.message_id  %>">Mark as Read</a>
<a class="messageInbox" title="Click to view inbox" href="/account/archive-message/<%- locals.message_id  %>">Archive Message</a>
<a class="messageInbox" title="Click to view inbox" href="/account/delete-message/<%- locals.message_id  %>">Delete Message</a>


