<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
    res.redirect('/')
    } %>

<%- messages() %>    

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<!-- Generated dynamically like the vehicle view? -->
<%=message_subject %>
<%=message_from %>
<%- message_body %>
            <!-- <input type="submit" id="submitBtn" value="Return to Inbox">
            <input type="submit" id="submitBtn" value="reply">
            <input type="submit" id="submitBtn" value="mark as read">
            <input type="submit" id="submitBtn" value="archive message">
            <input type="submit" id="submitBtn" value="delete message"> -->

 
    <!-- <a class="manageItem" title="Click to create a new message" href="/account/inbox">Return to Inbox</a>
    <a class="manageItem" title="Click to view archived messages" href="/account/message-reply">Reply to Message</a>
    <a class="manageItem" title="Click to create a new message" href="/account/message-read">Mark as Read</a>
    <a class="manageItem" title="Click to view archived messages" href="/account/message-archive">Archive Message</a>
    <a class="manageItem" title="Click to view archived messages" href="/account/message-delete">Delete Message</a> -->
