<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
    res.redirect('/')
    } %>

<%- messages() %>    

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="form"> 
  <form class="loginForm" id="invAddForm" action="/inv/add-inventory" method="post">

        <p>All fields must be filled out.</p>
        <label for="inv_make">Make</label>
        <input type="text" id="inv_make" placeholder="Enter vehicle make" name="inv_make"  value="<%- locals.inv_make %>" required>

        <label for="inv_model">Model</label>
        <input type="text" id="inv_model" placeholder="Enter vehicle model" name="inv_model"  value="<%- locals.inv_model %>" required>
        
        <label for="inv_year">Year</label>
        <input type="text" id="inv_year" placeholder="Enter vehicle year" name="inv_year"  value="<%- locals.inv_year %>" pattern="\d{4,4}"  required>

        <label for="inv_description">Description</label>
        <textarea id="inv_description" placeholder="Enter description, use at least 20 characters" name="inv_description"  rows="5" cols="33"  required><%- locals.inv_description %></textarea>

        <label for="inv_image">Image</label>
        <input type="text" id="inv_image" placeholder="/images/vehicles/no-image.png" name="inv_image"  value="<%- locals.inv_image %>" required>

        <label for="inv_thumbnail">Thumbnail</label>
        <input type="text" id="inv_thumbnail" placeholder="/images/vehicles/no-image-tn.png" name="inv_thumbnail"  value="<%- locals.inv_thumbnail %>" required>
        
        <label for="inv_price">Price</label>
        <input type="text" id="inv_price" placeholder="Enter price of vehicle, no $" name="inv_price"  value="<%- locals.inv_price %>" pattern="\d{1,20}"  required>

        <label for="inv_miles">Miles</label>
        <input type="text" id="inv_miles" placeholder="Enter mileage, no commas" name="inv_miles"  value="<%- locals.inv_miles %>" pattern="\d{1,20}" required>

        <label for="inv_color">Color</label>
        <input type="text" id="inv_color" placeholder="Enter vehicle color" name="inv_color"  value="<%- locals.inv_color %>" required>
        
        <label>Classification</label>
       <%- options %>
        
        <input type="submit" id="submitBtn" value="Enter New Vehicle">

    </form>    
</div>
