<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
    res.redirect('/')
    } %>

<%- messages() %>    

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="form" id="deleteForm"> 
  <form class="loginForm" id="editInvForm" action="/inv/delete" method="post">
     
    <p>This change is permanent. Please confirm deletion.</p>

    <label for="inv_make">Make</label>
    <input type="text" id="inv_make" placeholder="Enter vehicle make" name="inv_make" readonly <% if (locals.inv_make) { %> value="<%-locals.inv_make %>" <% } %>>

    <label for="inv_model">Model</label>
    <input type="text" id="inv_model" placeholder="Enter vehicle model" name="inv_model"  readonly <% if (locals.inv_model) { %> value="<%-locals.inv_model %>" <% } %>>
    
    <label for="inv_year">Year</label>
    <input type="text" id="inv_year" placeholder="Enter vehicle year" name="inv_year"  readonly <% if (locals.inv_year) { %> value="<%-locals.inv_year %>" <% } %>>

    <label for="inv_price">Price</label>
    <input type="text" id="inv_price" placeholder="Enter price of vehicle, no $" name="inv_price"  readonly <% if (locals.inv_price) { %> value="<%-locals.inv_price %>" <% } %>>
    
    <button id="submitBtn" type="submit">delete vehicle</button>
    <!-- <input type="submit" id="submitBtn" value="Update Vehicle" disabled> -->
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>

  </form>    
</div>
